@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@700&display=swap');
.body{
    background-color: #FEFEFF;
    font-family: 'open sans', sans-serif;  
    width: 100vw; /* El ancho ocupa el 100% del ancho de la ventana gráfica */
    height: 100vh; /* La altura ocupa el 100% de la altura de la ventana gráfica */
}

.Header{
    background-image: url('https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnVyZ2VyJTIwYW5kJTIwZnJpZXN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    display: flex;
    height: 40vh;
    width: 100%;
    position: fixed;  
    z-index: 1;
    max-width: 100%;
}

.have{
  margin-top: 40px;
  font-size: 14px;
  font-family: 'open sans', sans-serif;
}
.NameDeli{
  margin-top: 1%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.DeliFood {
    font-weight: bold; 
    color: #FEFEFF;
    font-size: 80px;
    margin-left: 15%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 129%;
    text-decoration: underline; 
    text-decoration-color: #FEFEFF; 
    text-decoration-thickness: 2px; 
    text-decoration-skip-ink: none;
    text-underline-offset: 50%;
    animation: fadeIn 1s ease-in-out;
  }


.Header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8c159e;
    opacity: 0.5; 
    z-index: -1; 
  }

.content{
    background-color: #FEFEFF;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contentlogin{
    width: 100%;
    height: 90vh;
    display: grid;
}

.contauto{
    margin: auto;
    height: 500px;

}

.errorContainer{
    
    height: 50px;
    width: 500px;
    margin-top: 10%;
}

.InputStructure{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 3px;
    overflow-y: auto;
}

.textFields{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.ButtonOrder{
    display: flex;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px; 
}
.iconInput {
    margin-top: 40px;
    background-color: #f6f6f6; 
    display: flex;
    max-height: 40px;
    width: 80%;
    margin-left: 10%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.loginIcon{
    padding: 10px;
    min-width: 50px;
    max-height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
}

.icon{
    height: 80px;
    width: 150px;
    margin: 0 auto;
}
.loginIcon:hover{
    background-color: #d6e3fe;
}

  

.Forgot{
    font-size: 13px;
    text-align: end;
    color: #FEFEFF;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: medium;
}

.ContainerPhone{
  width: 100%;
}